.breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    a {
        padding: 0 10px;
        border-right: 1px solid #606060;
        line-height: 1;
        color: #606060;
    }

    a:last-child {
        border-right: none;
        padding-right: 0;
    }

    a:nth-child(2) {
        color: #0097B2;
    }

    a:first-child {
        padding-left: 0;
    }
}

.single-event-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
    }

    .single-event-content {
        width: -webkit-fill-available;

        .single-event-header {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 30px;

            .single-event-title {
                @media screen and (max-width: 767px) {
                    font-size: 28px;
                }
            }
        }

        .event-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;

            @media screen and (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }

            .left-side {
                display: flex;
                align-items: center;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                }

                span {
                    border-right: 1px solid #606060;
                    line-height: 1;
                    color: #606060;
                    padding: 0 10px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        border-right: none;
                        padding-right: 0;
                    }

                    @media screen and (max-width: 767px) {
                        padding: 0;
                        border-right: none;
                    }
                }
            }

            .right-side {
                a {
                    padding: 23px 65px;
                    background-color: #000;
                    color: #fff;
                    font-family: 'Merriweather', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    border-radius: 10px;
                    text-decoration: none;

                    @media screen and (max-width: 767px) {
                        padding: 10px 20px;
                    }
                }
            }
        }

        .single-event-image {
            display: flex;
            gap: 60px;
            margin-top: 30px;
            background-color: #F3F3F3;
            border-radius: 15px;
            width: fit-content;
            padding-right: 60px;

            @media screen and (max-width: 767px) {
                flex-direction: column;
                gap: 20px;
                width: 100%;
                padding-right: 0;
                padding-bottom: 24px;
            }

            .event-image-wrapper {
                height: auto;
                border-radius: 15px;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 15px;
                }

                @media screen and (max-width: 767px) {
                    border-radius: 10px;
                }
            }

            .event-website-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    padding: 23px 65px;
                    background-color: #000;
                    color: #fff;
                    font-family: 'Merriweather', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    border-radius: 10px;
                    text-decoration: none;

                    @media screen and (max-width: 767px) {
                        padding: 10px 20px;
                    }
                }
            }
        }

        .single-event-content-inner {
            margin-top: 30px;

            @media screen and (max-width: 767px) {
                margin-top: 20px;
            }

            p {
                font-size: 22px;
                line-height: 1.8;
                color: #000;
                font-family: 'Lato', sans-serif;
                font-weight: 400;

                @media screen and (max-width: 767px) {
                    font-size: 18px;
                }

                strong {
                    font-weight: 700;
                }

                em {
                    font-style: italic;
                }
            }

            ul {

                li {
                    font-size: 22px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 18px;
                }
            }
        }
    }

    .single-event-sidebar {
        width: 300px;
        flex-shrink: 0;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
}